.dashingboard-outer {
  min-height: 100vh;
}

.side-dash {
  width: 18%;
  background-color: var(--white-color);
  box-shadow: 2px 0 10px var(--shadow-color);
  transition: all 0.3s ease;
  border: 0px;
  position: relative;
}
.main-dash-content {
  background-color: var(--second-color);
  width: 82%;
}

.top-nav {
  background-color: var(--white-color);
  padding: 10px;
  box-shadow: 0 2px 10px var(--shadow-color);
  height: 60px;
}

.main-content-arena {
  padding: 2rem;
}
span.side-nav-icon {
    padding-right: 15px;
    padding-bottom: 2px;
}
.left-open {
    width: 70%;
    padding:4px;
}
.right-open {
  width: 30%;
  display: flex;
  justify-content: end;
  padding: 4px;
}

a.nav-link-pact {
    display: block;
    position: relative;
    color: var(--accent-color);
    margin-right: 10px;
}

.user-image {
    margin-right: 20px;
    background: #f1f1f1;
    padding: 6px 12px 10px 13px;
    margin-top: -3px;
    border-radius: 50%;
}
.profile-quick {
  display: flex;
}
.box-head-logo {
    position: relative;
    text-align: center;
}
img.side-bar-head {
    width: 100px;
    margin: auto;
}